.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 800px;
    margin-top: 100px;
}

img{
    width: 100px;
    margin-left: 25px;
    margin-top: 12px;
}