.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 720px;
    margin-top: 100px;
}

.form-group__image-wrapper{
    /* display: flex; */
    padding-bottom: 5px;
    gap: 10px;
}

img{
    padding-bottom: 20px;
}

input{
    width: 500px;
}

.btn-group {
    width: 500px;
}
